version: '3.8'
services:
  database:
    image: mariadb:11.2
    restart: always
    ports:
      - $PORT_DB:3306
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - db:/var/lib/mysql
      - dbetc:/etc/mysql
    networks:
      - panel
    environment:
      MYSQL_PASSWORD: $MYSQL_PASS
      MYSQL_ROOT_PASSWORD: $MYSQL_PASS_ROOT
      MYSQL_DATABASE: "panel"
      MYSQL_USER: "pterodactyl"
      
  cache:
    image: redis:alpine3.18
    networks:
      - panel
    restart: always
    volumes:
      - cache:/data
      
  panel:
    image: ghcr.io/pterodactyl/panel:v1.11.5
    restart: always
    networks:
      - panel
    ports:
      - $PORT_HTTP:80
    #dns:
    #  - 1.1.1.1
    links:
      - database
      - cache
    volumes:
      - env:/app/var
      #- /var/log/pterodactyl:/app/storage/logs
    environment:
      MAIL_FROM: $MAIL_FROM
      MAIL_DRIVER: "smtp"
      MAIL_HOST: $MAIL_SERVER
      MAIL_PORT: $MAIL_PORT
      MAIL_USERNAME: $MAIL_USERNAME
      MAIL_PASSWORD: $MAIL_PASS
      MAIL_ENCRYPTION: "true"
      APP_URL: $PTERO_PANEL_URL
      APP_TIMEZONE: $TZ
      APP_SERVICE_AUTHOR: $MAIL_FROM
      TRUSTED_PROXIES: "*" 
      DB_PASSWORD: $MYSQL_PASS
      APP_ENV: "production"
      APP_ENVIRONMENT_ONLY: "false"
      CACHE_DRIVER: "redis"
      SESSION_DRIVER: "redis"
      QUEUE_DRIVER: "redis"
      REDIS_HOST: "cache"
      DB_HOST: "database"
      DB_PORT: "3306"
    healthcheck:
      test: curl --connect-timeout 15 --silent --show-error --fail $HEALTHCHECK
      interval: 1m
      timeout: 30s
      retries: 3
      start_period: 30s
networks:
  panel:

volumes:
  cache:
  db:
  env:
  dbetc:
